.box{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: gray;
}

#test-2d:hover{
  /* transform:translateX(100px); */
  /* transform: translate(100px, 100px); */
  /* transform: scale(0.5, 1.5); */
  /* transform: scaleX(0.5); */
  /* transform: rotateY(45deg); */
  /* transform: rotate(45deg); */
  transform: skew(30deg , 45deg);
  /* transform: skewY(30deg); */
}
#test-3d:hover{
  /* transform: perspective(300px) translate3d(50px, 30px, 100px); */
  /* transform: perspective(300px) scale3d(0.5, 2, 10); */
  transform: perspective(300px) rotate3d(1, 0, 1, 45deg);
}

.box-sm{
  width: 50px;
  height: 50px;
  background-color: darkgray;
}

#test-etc{
  display: flex;
  justify-content: center;
  align-items: center;
}

#target:hover{
  transform-origin: right bottom;
  transform: rotate(30deg);
}
