body{
  background-color: aquamarine;
}

#t01{
  width: 800px;
  height: 500px;
  /* background-color: red; */
  background-image: url(../resources/img/1.png);
  border: 3px solid black;
  /* background-repeat: repeat-x; */
  /* background-repeat:no-repeat; */
  box-sizing: border-box;
  /* background-size: contain; */
  /* background-size: 800px 500px; */
  background-size: 100% 100%;
  /* background-position: center; */
  background-position: 100px 100px;
}