body{
    background-color: gray;
    color: white;
}
#myPage{
    color: greenyellow;
    position: absolute;
    top: 100px;
    right: 450px;
}
#myPage:hover{
    cursor: pointer;
    color: aqua;
}

.menu{
    visibility : hidden;
    
}
#menu1{
    position: absolute;
    top: 120px;
    right: 450px;
    color: aquamarine;
    text-decoration: none;
}
#menu2{
    position: absolute;
    top: 140px;
    right: 489px;
    color: aquamarine;
    text-decoration: none;
}
#menu3{
    position: absolute;
    top: 160px;
    right: 450px;
    color: aquamarine;
    text-decoration: none;
}